//Mixins
//for translating y axis
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}
//for translating x axis
@mixin translateX($e) {
    -webkit-transform: translateX($e);
    -moz-transform: translateX($e);
    transform: translateX($e);
}
//for transition effect
@mixin transition($e){
    -webkit-transition:$e;
    -moz-transition: $e;
    transition:$e;
}

/*Fonts
font-family: 'Faster One', cursive;
font-family: 'Orbitron', sans-serif;
*/

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: black;
}

h1 {
    font-family: 'Faster One', cursive;
    color: white;
    text-align: center;
}

//create an transition effect for cursor hovering to acnhor text
a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;

    &:hover {
        color: rgb(10, 165, 43);
        @include transition(.4s ease-in-out);
    }
}