@import "_config.scss";

//header css
header {
    position: relative;
    display: block;
    width: 100%;
    background: black;
    color: white; 
    height: 120px;

    .logo1 {
        position: absolute;
        left:-10px; bottom: -10px;
        img {
            flex:1;
            max-width: 50%;
            resize: 'contain';
        }
    }

    .logo2 {
        position: absolute;
        top:10px;left: 30px;
        img {
            flex:1;
            width: 30%;
            resize: 'contain';
        }
    }

    nav,
    nav ul,
    nav ul li{
        margin:0;
        padding:0;
    }

    nav {
        position: absolute;
        top:60%; right: 5px;
        @include translateY(-50%);
        ul li{
            list-style-type:none;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }

        a {
            font-size: 25px;
            line-height: normal;
            color: white;
        }
    }

}

//HomePage css
homePage {
    position: relative;
    display: block;
    max-width: 100%;
    background:rgb(78, 78, 78);

    .image1 {
        img{
            max-width: 100%;
            height: auto;
            resize: 'contain';

        }
    }
}

//Character page css
characterPage {
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
    background:rgb(78, 78, 78);
    
    .container-fluid{
        color: white;
        text-align: center;
    
    p {
        background:rgb(146, 144, 144);
    }
   
    ul li{
        list-style-type:none;
        text-align: left;
        padding-top: 10px;
        max-width: 100%;
        padding-right: 20px;
        display: inline-block;
    }
    }
}

//footer css
footer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    color: white; 

    ul li{
        list-style-type:none;
        padding-right: 10px;
        padding-left: 10px;
        display: inline-block;
    }
}
